<div>
  <div>
    <h2>
      Add a new pet
    </h2>

    <%= @pet.errors.full_messages %>
    <p>Previously filled name: <%= @pet.name %></p>
    <p>Previously filled age: <%= @pet.age %></p>

    <form action="/pets" method="post">

      <%# need authenticity token to allow verification %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @pet.name %>">
      </div>

      <div>
        <label for="age_box">
          Age
        </label>

        <input type="text" id="age_box" name="query_age" value="<%= @pet.age %>">
      </div>

      <div>
        <label for="species_id_box">
          Species
        </label>

        <input type="text" id="species_id_box" name="query_species_id">
      </div>

      <button>
        Create pet
      </button>
    </form>
  </div>
</div>
