<div>
  <div>
    <h1>
      Pet #<%= @pet.id %> details
    </h1>

    <div>
      <div>
        <%# <a href="/pets">
          Go back
        </a> %>
        <%= link_to "Go back", pets_path %>
      </div>

      <div>
      <%# Rails reserves "data-method=delete" b/c HTML doesn't support delete method  %>
      <%# data: {confirm} creates an alert to confirm the action being taken %>
        <%= link_to "Delete pet", pet_path(@pet.id), method: :delete, data: { confirm: "Are you sure?"} %>
      </div>
    </div>

    <div>
      
      <%= link_to "Edit pet", edit_pet_path(@pet) %>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @pet.name %>
      </dd>

      <dt>
        Age
      </dt>
      <dd>
        <%= @pet.age %>
      </dd>

      <dt>
        Species
      </dt>
      <dd>
        <%= @pet.species_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@pet.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@pet.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
